<!DOCTYPE html><html lang="en"><head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&amp;family=Poppins:wght@400;500;600;700&amp;family=Karla:wght@700&amp;display=swap&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Translations API</title>
    </head>
    <body>
        <main>
            <div classname="yellow--blob"></div>
            <div classname="blue--blob"></div>
            <h1></h1>
            <img alt="Picture of yoda looking, photographer: riku lu, source: unsplash.com" src="../images/riku-lu-unsplash.jpg">
            <p>Request failed with status code 429</p>
        </main>
    

</body></html>